<div class="switch-container">
  <fa-icon
    [icon]="faSun"
    class="switch-label"
    [ngClass]="darkModeActive ? 'text-light' : 'text-dark'"
  >
  </fa-icon>

  <label class="switch">
    <input type="checkbox" (click)="toggleTheme()">
    <span
      [ngClass]="darkModeActive ? 'bg-light' : 'bg-dark'"
      class="slider round"
    >
      <span
        class="pointer"
        [ngClass]="darkModeActive ? 'bg-dark' : 'bg-light'"
      >
      </span>
    </span>
  </label>

  <fa-icon
    [icon]="faMoon"
    class="switch-label"
    [ngClass]="darkModeActive ? 'text-light' : 'text-dark'"
  >
  </fa-icon>
</div>
