<div class="switch-container">
  <span
    class="switch-label"
    [ngClass]="darkModeActive ? 'text-light' : 'text-dark'"
  >
    LIGHT
  </span>
  <label class="switch">
    <input type="checkbox" (click)="toggleTheme()">
    <span
      [ngClass]="darkModeActive ? 'bg-light' : 'bg-dark'"
      class="slider round"
    >
      <span
        class="pointer"
        [ngClass]="darkModeActive ? 'bg-dark' : 'bg-light'"
      >
      </span>
    </span>
  </label>
  <span
    class="switch-label"
    [ngClass]="darkModeActive ? 'text-light' : 'text-dark'"
  >
    DARK
  </span>
</div>
