<div class="weather-card">
  <div *ngIf="currentWeather">
    <p>City: {{ currentWeather.name }}</p>
    <p>Temperature: {{ currentWeather.main.temp }}</p>
    <p>
      <span>Min: {{ currentWeather.main.temp_min }}</span>
      |
      <span>Max: {{ currentWeather.main.temp_max }}</span>
    </p>
    <p>Pressure: {{ currentWeather.main.pressure }}</p>
    <p>Humidity: {{ currentWeather.main.humidity }}</p>
    <p>Conditions: {{ currentWeather.weather[0].main }}</p>
    <p>Description: {{ currentWeather.weather[0].description }}</p>
    <p>Wind Speed: {{ currentWeather.wind.speed }}</p>
    <p>Sunrise: {{ currentWeather.sys.sunrise }}</p>
    <p>Sunset: {{ currentWeather.sys.sunset }}</p>
  </div>
</div>
