<div
  class="weather-card"
  [ngClass]="darkModeActive ? 'bg-gradient-dark' : 'bg-gradient-light'"
>
  <div
    *ngIf="currentWeather"
    class="weather-card-info"
    [ngClass]="darkModeActive ? 'text-light' : 'text-dark'"
  >
    <div class="current-weather-main">
      <h2>{{ currentWeather.name }}</h2>
      <div class="current-weather-conditions">
        <span class="current-temperature">
          {{ currentWeather.main.temp }} &#8451;
        </span>
        <app-weather-icon
          [weatherCondition]="currentWeather.weather[0].main"
          [darkModeActive]="darkModeActive"
        >
        </app-weather-icon>
      </div>
    </div>
    <div class="current-weather-description text-right">
      {{ currentWeather.weather[0].description }}
    </div>
    <div class="min-max-temp">
      <span>Min: {{ currentWeather.main.temp_min }} &#8451;</span>
      <span>Max: {{ currentWeather.main.temp_max }} &#8451;</span>
    </div>

    <p>Pressure: {{ currentWeather.main.pressure }} hPa</p>
    <p>Humidity: {{ currentWeather.main.humidity }}%</p>
    <p>Wind Speed: {{ currentWeather.wind.speed }} m/s</p>
    <!-- <p>
      Sunrise: {{ currentWeather.sys.sunrise }}
      (GMT {{ currentWeather.timezone }})
    </p>
    <p>
      Sunset: {{ currentWeather.sys.sunset }}
      (GMT {{ currentWeather.timezone }})
    </p> -->
  </div>
</div>
