<div
  class="weather-card"
  [ngClass]="darkModeActive ? 'bg-gradient-dark' : 'bg-gradient-light'"
>
  <div
    *ngIf="currentWeather"
    class="weather-card-info"
    [ngClass]="darkModeActive ? 'text-light' : 'text-dark'"
  >
    <app-weather-icon
      [weatherCondition]="currentWeather.weather[0].main"
      [darkModeActive]="darkModeActive"
    >
    </app-weather-icon>
    <p>City: {{ currentWeather.name }}</p>
    <p>Temperature: {{ currentWeather.main.temp }} &#8451;</p>
    <p>
      <span>Min: {{ currentWeather.main.temp_min }} &#8451;</span>
      |
      <span>Max: {{ currentWeather.main.temp_max }} &#8451;</span>
    </p>
    <p>Pressure: {{ currentWeather.main.pressure }} hPa</p>
    <p>Humidity: {{ currentWeather.main.humidity }}%</p>
    <p>Conditions: {{ currentWeather.weather[0].main }}</p>
    <p>Description: {{ currentWeather.weather[0].description }}</p>
    <p>Wind Speed: {{ currentWeather.wind.speed }} m/s</p>
    <!-- <p>
      Sunrise: {{ currentWeather.sys.sunrise }}
      (GMT {{ currentWeather.timezone }})
    </p>
    <p>
      Sunset: {{ currentWeather.sys.sunset }}
      (GMT {{ currentWeather.timezone }})
    </p> -->
  </div>
</div>
